* {
    font-family: 'Poppins', sans-serif;
}

.blockquote-footer::before {
    content: "\2014 \00A0";
}

a,
a:hover {
    color: #8bc34a;
    font-weight: 400;
    text-decoration: none;
}

blockquote .blockquote-footer {
    font-size: 1.25rem;
}

.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 0.05rem solid #e5e5e5;
}

article time {
    color: #999;
}

article h2 {
    font-weight: 700;
}

article h2 a,
article h2 a:hover {
    color: #222;
}

article img.img-thumbnail {
    padding: 0;
    border: none;
}

article .post-meta a {
    color: #8bc34a;
    font-weight: 800;
    text-decoration: none;
}

.articles article h2 {
    font-size: 18px;
}

#TableOfContents>ul {
    padding: 0;
}

#TableOfContents ul li {
    display: block;
}

#TableOfContents ul li a {
    display: block;
    color: rgb(33,37,41);
}

#TableOfContents ul li a:hover {
    color: #006C84;
}

.card.about-card {
    border: 0;
}

.about-card .card-up {
    height: 120px;
    overflow: hidden;
    background-color: #7ba4a8;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.about-card .avatar {
    width: 110px;
    margin-top: -60px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 50%;
}