<div class="position-sticky" style="top: 2rem;">

    <div class="card mb-3 about-card shadow-sm">
        <div class="card-up"></div>
        <div class="avatar mx-auto bg-white">
            <img src="avatar.jpg" class="rounded-circle img-fluid">
        </div>
        <div class="card-body text-center">
            <h4 class="border-bottom mb-3 pb-3">Yauheni Kazheka</h4>
            <p class="dark-grey-text mt-4">
                Some call me an innovator, others say I'm an enthusiast, but I consider myself an engineer.
            </p>
        </div>
    </div>

    {{ $tags := .Site.Taxonomies.tags.ByCount }}
    {{ $tagscount := len $tags }}
    {{ if gt $tagscount 0 }}
    {{ $lasttag := index (last 1 $tags) 0 }}
    <div class="p-4 links">
        <h4 class="fst-italic">Tags</h4>
        {{ range $index, $tags }}
        <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>{{ if ne $index $lasttag }}, {{ end }}
        {{ end }}
    </div>
    {{ end }}

    <div class="p-4 links">
        <h4 class="fst-italic">Elsewhere</h4>
        <ol class="list-unstyled">
            <li><a href="https://github.com/kazheko">GitHub</a></li>
            <li><a href="https://twitter.com/ekazheko">Twitter</a></li>
            <li><a href="https://www.facebook.com/ekazheko/">Facebook</a></li>
        </ol>
    </div>
</div>